* {
  margin: 0;
}

#app {
  font-family: sans-serif;
  text-align: center;
}

ul {
  width: 50%;
  margin: 0 auto;
}
li {
  text-align: left;
  list-style: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li:hover {
  cursor: pointer;
}

.item-done {
  color: grey;
  text-decoration: line-through;
}

.fa-times {
  color: rgb(200,0,15);
  margin-right: 1em;
}

.fa-times:hover {
  cursor: pointer;
}
